/* Reverted to Version 1404*/
table, a 
{
	color: #000;
	font: normal normal 11px Verdana;	
}
td.blankColumn
{
	color:White;	
}
div.tableContainer 
{
	border:1px double #9B9797;
	clear: both;	
	overflow:scroll;
	position:relative;
	width:100%;
	max-height:550px;
	height:expression(this.scrollHeight>500?"500px":"auto");
}
html.body div.tableContainer 
{
	padding: 0 16px 0 0;
	width: 98%;	
}
div.tableContainer table 
{
	float: left;
	width:100%;
	border-right:1px double #BDBDBD;
}
td.locked, th.locked
{			
	left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
	white-space:nowrap; /* IE5+ only */
	color:#000;
}
td.checkLocked, th.checkLocked
{			
	left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); /* IE5+ only */
	position:relative;
	border-right:1px double #BDBDBD;
	white-space:nowrap;
	color:#000;
}
thead th.checkLocked	
{
	left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft); /* IE5+ only */
	position:relative;
	white-space:nowrap;
	color:#000;
}
thead th.checkLocked 
{
	text-align:center; 
	z-index: 30; 
	white-space:nowrap;
	color:#000;
	}
td.locked
{
	color:#000;
	background-color:#DADADA;
	font-weight:bold;
	position:relative;	
	border-bottom: 1px double #BDBDBD;
	border-left: 1px double #BDBDBD;
	border-right:1px double #BDBDBD;
	text-align:left;
	white-space:nowrap;	
}
head:first-child+body tbody[class].scrollContent {
	display: block;	
	overflow: auto;
	position:relative;
	width: 99%;

	/*max-height:600px;*/
}

tbody.scrollContent td, tbody.scrollContent tr.normalRow td 
{
	border-bottom: 1px double #BDBDBD;
	border-left: 1px double #BDBDBD;	
	padding: 2px 2px 2px 2px;
	white-space:nowrap;
}

thead th	
{
	top: expression(document.getElementById("tableContainer").scrollTop);
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	background-color: #E0ECF0;
	color: Black;	
	border-left: 1px double #9B9797;
	border-bottom:1px double #9B9797;
	position:relative;
	height:25px;
	/*width:100%;
	white-space:nowrap;*/
	padding: 2px 2px 2px 2px
}	

thead th.locked	
{
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	background-color: #E0ECF0;
	color: Black;
	border-top: 1px double #BDBDBD;
	border-left: 1px double #BDBDBD;	
	border-bottom:1px double #BDBDBD;
	border-right:1px double #BDBDBD;
	position:relative;
	height:25px;
	/*width:100%;	
	white-space:nowrap;*/
	padding: 2px 2px 2px 2px;
	color:#000;	
}	
/*thead th
{
	top: expression(document.getElementById("tableContainer").scrollTop);
	z-index: 20;
	height:25px;	
	white-space:nowrap;		
	background-color: #E0ECF0;	
	text-align:center;
}*/
thead.fixedHeader th 
{
	font-weight: bold;
	text-align:center;	
	background-color:#BDBDBD;	
	border-bottom: 1px solid #9B9797;
	border-left: 1px double #9B9797;
	border-right: 1px double #9B9797;
	/*added by dev*//**** added for EDM and MDR report*/
	top: expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
	white-space:nowrap;
	height: auto;
	padding:2px 2px 2px 2px;
}
thead th.locked {text-align:center; z-index: 30;white-space:nowrap; color:#000;}

head:first-child+body div[class].tableContainer {
		overflow:scroll;
	width:99%;
	border-bottom:1px solid #E0ECF0;
	max-height:550px;
	height:	height:expression(this.scrollHeight>500?"500px":"auto");
}
.DWBRadioBtnPanelCSS
{	
	border-color:#9b9797; 
	/*color:Blue;*/
	width:100%;
}

.DWBHomeToplevelReportPanelCSS
{
	width:100%;
}
.DWBToplevelReportPanelCSS
{
	width:100%;
}
.L
.ListViewerOptionsCSS
{	
	width:65%;	
}
.TemplateMasterPageViewCSS
{
	text-align:center;
	width: 35%;	
}
.ReportRadioBtnCSS
{
	color:Black;
}

.fixedHeaderPageSequence 
{
	font-weight: bold;
	text-align:center;	
	/*background-color:#E0ECF0;*/
	background-color:#BDBDBD;
	/*padding: 2px 2px 2px 5px;*/	
	border-bottom: 1px solid #336699;
	/*top: expression( document.getElementById(GetObjectID("tableContainer","TABLE")).scrollTop);*/
top:expression(document.getElementById(GetObjectID('Table1',"TABLE")).scrollTop);
	white-space:nowrap;
	height: auto;
	padding:2px 2px 2px 2px;
}
